# ICC Men’s Cricket World Cup - A Journey Through History

## Introduction

This case study is about analysing all the ICC Men’s Cricket World Cup matches held from 
1975-2023. 
- Data Preparation :

### 1. Reading and combining data
Load the all csv files and concatenate the files into a single DataFrame

In [289]:
import pandas as pd

In [290]:
import glob   # use glob for to get a list of files
csv_files = glob.glob("D:/WorldCup_Stats/*.csv")  # all csv file in WorldCup_Stats folder
wcinfo_list = []

for file in csv_files:    # read each csv and combine it into a list
    df = pd.read_csv(file)
    wcinfo_list.append(df)

crick_df = pd.concat(wcinfo_list, ignore_index=True)

### 2. Initial data exploration and cleaning

In [291]:
crick_df.drop_duplicates(inplace=True)

In [292]:
crick_df.head()

,Unnamed: 0.1,Unnamed: 0,date,venue,match_category,team_1,team_2,team_1_runs,team_1_wickets,team_2_runs,team_2_wickets,result,pom,best_batters,best_bowlers,commentary_line,world_cup_year,host_country
0,0,11,NaN,Nottingham,League-Match,PAK,SL,330.0,6.0,138.0,0.0,Pakistan won by 192 runs,Zaheer Abbas,NaN,NaN,NaN,1975,England
1,1,5,NaN,Leeds,League-Match,EAf,IND,120.0,0.0,123.0,0.0,India won by 10 wickets (with 181 balls remain...,Farokh Engineer,NaN,NaN,NaN,1975,England
2,2,12,1975-06-18,Leeds,Semi-Final,ENG,AUS,93.0,0.0,94.0,6.0,Australia won by 4 wickets (with 188 balls rem...,Gary Gilmour,NaN,NaN,NaN,1975,England
3,3,8,1975-06-14,Birmingham,League-Match,ENG,EAf,290.0,5.0,94.0,0.0,England won by 196 runs,John Snow,NaN,NaN,NaN,1975,England
4,4,13,NaN,The Oval,Semi-Final,NZ,WI,158.0,0.0,159.0,5.0,West Indies won by 5 wickets (with 119 balls r...,Alvin Kallicharran,NaN,NaN,NaN,1975,England

In [293]:
crick_df.info()  # understanding the dataframe structure

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     528 non-null    int64
 1   Unnamed: 0       528 non-null    int64
 2   date             364 non-null    object
 3   venue            528 non-null    object
 4   match_category   528 non-null    object
 5   team_1           528 non-null    object
 6   team_2           528 non-null    object
 7   team_1_runs      518 non-null    float64
 8   team_1_wickets   518 non-null    float64
 9   team_2_runs      513 non-null    float64
 10  team_2_wickets   513 non-null    float64
 11  result           528 non-null    object
 12  pom              510 non-null    object
 13  best_batters     250 non-null    object
 14  best_bowlers     250 non-null    object
 15  commentary_line  83 non-null     object
 16  world_cup_year   528 non-null    int64
 17  host_country     528 non-null    object
dtypes: float64(4), int64(3), object(11)
memory usage: 74.4+ KB

## Note:
- There exist some null records. Only 9 columns do not have the null records. If I remove null column, then there will be elimated many columns. And also I cannot remove the rows because rows are very important. So I decide to not change anything.

Type of 'date' change to date type

In [294]:
crick_df['date']=pd.to_datetime(crick_df['date'])

In [295]:
crick_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     528 non-null    int64
 1   Unnamed: 0       528 non-null    int64
 2   date             364 non-null    datetime64[ns]
 3   venue            528 non-null    object
 4   match_category   528 non-null    object
 5   team_1           528 non-null    object
 6   team_2           528 non-null    object
 7   team_1_runs      518 non-null    float64
 8   team_1_wickets   518 non-null    float64
 9   team_2_runs      513 non-null    float64
 10  team_2_wickets   513 non-null    float64
 11  result           528 non-null    object
 12  pom              510 non-null    object
 13  best_batters     250 non-null    object
 14  best_bowlers     250 non-null    object
 15  commentary_line  83 non-null     object
 16  world_cup_year   528 non-null    int64
 17  host_country     528 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(3), object(10)
memory usage: 74.4+ KB

In [296]:
print(crick_df)

     Unnamed: 0.1  Unnamed: 0       date        venue match_category team_1  \
0               0          11        NaT   Nottingham   League-Match    PAK
1               1           5        NaT        Leeds   League-Match    EAf
2               2          12 1975-06-18        Leeds     Semi-Final    ENG
3               3           8 1975-06-14   Birmingham   League-Match    ENG
4               4          13        NaT     The Oval     Semi-Final     NZ
..            ...         ...        ...          ...            ...    ...
523            45          18 2023-10-21      Lucknow   League-Match    NED
524            46          40 2023-11-09    Bengaluru   League-Match     SL
525            47           1 2023-10-06    Hyderabad   League-Match    PAK
526            48          44 2023-11-12    Bengaluru   League-Match    IND
527            49           6 2023-10-10   Dharamsala   League-Match    ENG

    team_2  team_1_runs  team_1_wickets  team_2_runs  team_2_wickets  \
0       SL        330.0             6.0        138.0             0.0
1      IND        120.0             0.0        123.0             0.0
2      AUS         93.0             0.0         94.0             6.0
3      EAf        290.0             5.0         94.0             0.0
4       WI        158.0             0.0        159.0             5.0
..     ...          ...             ...          ...             ...
523     SL        262.0             0.0        263.0             5.0
524     NZ        171.0             0.0        172.0             5.0
525    NED        286.0             0.0        205.0             0.0
526    NED        410.0             4.0        250.0             0.0
527    BAN        364.0             9.0        227.0             0.0

                                                result  \
0                             Pakistan won by 192 runs
1    India won by 10 wickets (with 181 balls remain...
2    Australia won by 4 wickets (with 188 balls rem...
3                              England won by 196 runs
4    West Indies won by 5 wickets (with 119 balls r...
..                                                 ...
523  Sri Lanka won by 5 wickets (with 10 balls rema...
524  New Zealand won by 5 wickets (with 160 balls r...
525                            Pakistan won by 81 runs
526                              India won by 160 runs
527                            England won by 137 runs

                        pom  \
0              Zaheer Abbas
1           Farokh Engineer
2              Gary Gilmour
3                 John Snow
4        Alvin Kallicharran
..                      ...
523  Sadeera Samarawickrama
524             Trent Boult
525            Saud Shakeel
526            Shreyas Iyer
527             Dawid Malan

                                          best_batters  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
523  ['S Samarawickrama - 91 runs ', 'SA Engelbrech...
524  ['MDKJ Perera - 51 runs ', 'DP Conway - 45 run...
525  ['Saud Shakeel - 68 runs ', 'Mohammad Rizwan -...
526    ['SS Iyer - 128 runs ', 'KL Rahul - 102 runs ']
527     ['DJ Malan - 140 runs ', 'JE Root - 82 runs ']

                                best_bowlers  \
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
..                                       ...
523  ['D Madushanka - 4', 'CAK Rajitha - 4']
524       ['TA Boult - 3', 'MJ Santner - 2']
525   ['BFW de Leede - 4', 'Haris Rauf - 3']
526   ['JJ Bumrah - 2', 'Kuldeep Yadav - 2']
527   ['RJW Topley - 4', 'Mahedi Hasan - 4']

                                       commentary_line  world_cup_year  \
0                                                  NaN            1975
1                                                  NaN            1975
2                                                  NaN            1975
3                                                  NaN            1975
4                                                  NaN            1975
..                                                 ...             ...
523                                                NaN            2023
524             8:03pm Time to hear from the captains.            2023
525  Scott Edwards, Netherlands captain: It's a bit...            2023
526                                                NaN            2023
527  Afeef: "Eng have a positive NRR now. That's go...            2023

    host_country
0        England
1        England
2        England
3        England
4        England
..           ...
523        India
524        India
525        India
526        India
527        India

[528 rows x 18 columns]

### 3. Handle outliers and missing values

- Sorting the values to understand clearly

In [297]:
crick_df = crick_df.sort_values(by=['world_cup_year', 'Unnamed: 0'],
    ascending=[True, True])

In [298]:
print(crick_df)

     Unnamed: 0.1  Unnamed: 0       date          venue match_category team_1  \
12             12           0 1975-06-07         Lord's   League-Match    ENG
5               5           1        NaT     Birmingham   League-Match     NZ
7               7           2        NaT          Leeds   League-Match    AUS
10             10           3        NaT     Manchester   League-Match     SL
9               9           4 1975-06-11     Nottingham   League-Match    ENG
..            ...         ...        ...            ...            ...    ...
515            37          43        NaT   Eden Gardens   League-Match    ENG
526            48          44 2023-11-12      Bengaluru   League-Match    IND
521            43          45 2023-11-15       Wankhede     Semi-Final    IND
484             6          46 2023-11-16   Eden Gardens     Semi-Final     SA
498            20          47 2023-11-19      Ahmedabad          Final    IND

    team_2  team_1_runs  team_1_wickets  team_2_runs  team_2_wickets  \
12     IND        334.0             4.0        132.0             3.0
5      EAf        309.0             5.0        128.0             8.0
7      PAK        278.0             7.0        205.0             0.0
10      WI         86.0             0.0         87.0             1.0
9       NZ        266.0             6.0        186.0             0.0
..     ...          ...             ...          ...             ...
515    PAK        337.0             9.0        244.0             0.0
526    NED        410.0             4.0        250.0             0.0
521     NZ        397.0             4.0        327.0             0.0
484    AUS        212.0             0.0        215.0             7.0
498    AUS        240.0             0.0        241.0             4.0

                                                result             pom  \
12                             England won by 202 runs    Dennis Amiss
5                          New Zealand won by 181 runs    Glenn Turner
7                             Australia won by 73 runs   Dennis Lillee
10   West Indies won by 9 wickets (with 236 balls r...  Bernard Julien
9                               England won by 80 runs  Keith Fletcher
..                                                 ...             ...
515                             England won by 93 runs    David Willey
526                              India won by 160 runs    Shreyas Iyer
521                     P1 v P4 - India won by 70 runs  Mohammed Shami
484  P2 v P3 - Australia won by 3 wickets (with 16 ...     Travis Head
498  Australia won by 6 wickets (with 42 balls rema...     Travis Head

                                          best_batters  \
12                                                 NaN
5                                                  NaN
7                                                  NaN
10                                                 NaN
9                                                  NaN
..                                                 ...
515     ['BA Stokes - 84 runs ', 'JE Root - 60 runs ']
526    ['SS Iyer - 128 runs ', 'KL Rahul - 102 runs ']
521  ['DJ Mitchell - 134 runs ', 'V Kohli - 117 run...
484    ['DA Miller - 101 runs ', 'TM Head - 62 runs ']
498     ['TM Head - 137 runs ', 'KL Rahul - 66 runs ']

                                 best_bowlers  \
12                                        NaN
5                                         NaN
7                                         NaN
10                                        NaN
9                                         NaN
..                                        ...
515       ['DJ Willey - 3', 'Haris Rauf - 3']
526    ['JJ Bumrah - 2', 'Kuldeep Yadav - 2']
521  ['Mohammed Shami - 7', 'TG Southee - 3']
484        ['MA Starc - 3', 'PJ Cummins - 3']
498        ['MA Starc - 3', 'PJ Cummins - 2']

                                       commentary_line  world_cup_year  \
12                                                 NaN            1975
5                                                  NaN            1975
7                                                  NaN            1975
10                                                 NaN            1975
9                                                  NaN            1975
..                                                 ...             ...
515                                                NaN            2023
526                                                NaN            2023
521                                                NaN            2023
484  And Australia's Pat Cummins: "Easier than sitt...            2023
498  Cummins: I think we saved our best for the las...            2023

    host_country
12       England
5        England
7        England
10       England
9        England
..           ...
515        India
526        India
521        India
484        India
498        India

[528 rows x 18 columns]

In [299]:
crick_df.set_index('Unnamed: 0', inplace=True)

In [300]:
print(crick_df)

            Unnamed: 0.1       date          venue match_category team_1  \
Unnamed: 0
0                     12 1975-06-07         Lord's   League-Match    ENG
1                      5        NaT     Birmingham   League-Match     NZ
2                      7        NaT          Leeds   League-Match    AUS
3                     10        NaT     Manchester   League-Match     SL
4                      9 1975-06-11     Nottingham   League-Match    ENG
...                  ...        ...            ...            ...    ...
43                    37        NaT   Eden Gardens   League-Match    ENG
44                    48 2023-11-12      Bengaluru   League-Match    IND
45                    43 2023-11-15       Wankhede     Semi-Final    IND
46                     6 2023-11-16   Eden Gardens     Semi-Final     SA
47                    20 2023-11-19      Ahmedabad          Final    IND

           team_2  team_1_runs  team_1_wickets  team_2_runs  team_2_wickets  \
Unnamed: 0
0             IND        334.0             4.0        132.0             3.0
1             EAf        309.0             5.0        128.0             8.0
2             PAK        278.0             7.0        205.0             0.0
3              WI         86.0             0.0         87.0             1.0
4              NZ        266.0             6.0        186.0             0.0
...           ...          ...             ...          ...             ...
43            PAK        337.0             9.0        244.0             0.0
44            NED        410.0             4.0        250.0             0.0
45             NZ        397.0             4.0        327.0             0.0
46            AUS        212.0             0.0        215.0             7.0
47            AUS        240.0             0.0        241.0             4.0

                                                       result             pom  \
Unnamed: 0
0                                     England won by 202 runs    Dennis Amiss
1                                 New Zealand won by 181 runs    Glenn Turner
2                                    Australia won by 73 runs   Dennis Lillee
3           West Indies won by 9 wickets (with 236 balls r...  Bernard Julien
4                                      England won by 80 runs  Keith Fletcher
...                                                       ...             ...
43                                     England won by 93 runs    David Willey
44                                      India won by 160 runs    Shreyas Iyer
45                             P1 v P4 - India won by 70 runs  Mohammed Shami
46          P2 v P3 - Australia won by 3 wickets (with 16 ...     Travis Head
47          Australia won by 6 wickets (with 42 balls rema...     Travis Head

                                                 best_batters  \
Unnamed: 0
0                                                         NaN
1                                                         NaN
2                                                         NaN
3                                                         NaN
4                                                         NaN
...                                                       ...
43             ['BA Stokes - 84 runs ', 'JE Root - 60 runs ']
44            ['SS Iyer - 128 runs ', 'KL Rahul - 102 runs ']
45          ['DJ Mitchell - 134 runs ', 'V Kohli - 117 run...
46            ['DA Miller - 101 runs ', 'TM Head - 62 runs ']
47             ['TM Head - 137 runs ', 'KL Rahul - 66 runs ']

                                        best_bowlers  \
Unnamed: 0
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
...                                              ...
43               ['DJ Willey - 3', 'Haris Rauf - 3']
44            ['JJ Bumrah - 2', 'Kuldeep Yadav - 2']
45          ['Mohammed Shami - 7', 'TG Southee - 3']
46                ['MA Starc - 3', 'PJ Cummins - 3']
47                ['MA Starc - 3', 'PJ Cummins - 2']

                                              commentary_line  world_cup_year  \
Unnamed: 0
0                                                         NaN            1975
1                                                         NaN            1975
2                                                         NaN            1975
3                                                         NaN            1975
4                                                         NaN            1975
...                                                       ...             ...
43                                                        NaN            2023
44                                                        NaN            2023
45                                                        NaN            2023
46          And Australia's Pat Cummins: "Easier than sitt...            2023
47          Cummins: I think we saved our best for the las...            2023

           host_country
Unnamed: 0
0               England
1               England
2               England
3               England
4               England
...                 ...
43                India
44                India
45                India
46                India
47                India

[528 rows x 17 columns]

### 4. Adding new columns to the DataFrame:

### 5. Column Removal